stream-capture.updatenowapp.com {
	root * /home/ubuntu/interview/frontend/dist
	file_server

	handle /interview/* {
		reverse_proxy localhost:8000
	}

	handle /voice/* {
		reverse_proxy localhost:8000
	}

	handle /login* {
		reverse_proxy localhost:8000
	}

	handle /logout {
		reverse_proxy localhost:8000
	}
}
